In [1]:
#Criando uma lista
lst_num = ["Data", "Science", "Academy"]

In [2]:
type(lst_num)

list

In [3]:
print(type([]))

<class 'list'>

In [4]:
#Criando um novo tipo de objeto chamado Carro 
class Carro(object):
    pass

In [5]:
#Instância do Carro
ferrari = Carro()

In [8]:
print(type(ferrari))

<class '__main__.Carro'>

In [9]:
#Criando uma classe
class Estudantes:
    def __init__(self, nome, idade, nota):
        self.nome = nome
        self.idade = idade 
        self.nota = nota

In [10]:
#Criando um objeto chamado Estudante1 a partir da classe Estudantes
Estudante1 = Estudantes("Bob", 12, 9.5)

In [13]:
#Atributo da classe Estudante, utilizado para casa objeto criado a partir dessa classe
Estudante1.nome

'Bob'

In [14]:
#Atributo da classe Estudante, utilizado para casa objeto criado a partir dessa classe
Estudante1.idade

12

In [15]:
#Atributo da classe Estudante, utilizado para casa objeto criado a partir dessa classe
Estudante1.nota

9.5

In [26]:
#Criando uma classe 
class Funcionarios:
    def __init__(self, nome, salario, cargo):
        self.nome = nome 
        self.salario = salario
        self.cargo = cargo
    
    def listFunc(self):
        print("Funcionário(a) " + self.nome + " tem salário de R$ " + str(self.salario) + " e o cargo é " + self.cargo)

In [27]:
#Criando um objeto chamando Func1 a partir da classe Funcionarios 
#Criando uma instância da classe
Func1 = Funcionarios("Mary", 2000, "Cientista de Dados")

In [28]:
#Usando o método da classse 
Func1.listFunc()

Funcionário(a) Mary tem salário de R$ 2000 e o cargo é Cientista de Dados

In [29]:
print("**** Usando Atributos ****")

**** Usando Atributos ****

In [32]:
#Tem atributo
hasattr(Func1, "nome")

True

In [31]:
hasattr(Func1, "salario")

True

In [33]:
#Configurar o atributo - modificar o atributo da classe
setattr(Func1, "salario", 4500)

In [35]:
hasattr(Func1, "salario")

True

In [36]:
#Retornar o valor do atributo 
getattr(Func1,"salario")

4500

In [38]:
#deletar o atributo
delattr(Func1, "salario")

AttributeError: salario

In [39]:
hasattr(Func1, "salario")

False